@import "tailwindcss";

@theme inline {
	--font-serif: var(--font-instrument-serif);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@layer components {
	.markdown {
		/* Base variables */
		--base-font-size: 16;
		--rem-base: calc(var(--base-font-size) / 16);
		--line-height-ratio: calc(24 / var(--base-font-size));

		/* Font sizes */
		--text-base: calc(var(--rem-base) * 1rem);
		--text-sm: calc(var(--base-font-size) * 0.857142857 / 16 * 1rem); /* 12px */

		/* Spacing */
		--spacing-1: calc(1 / var(--base-font-size) * 1em);
		--spacing-2: calc(6 / var(--base-font-size) * 1em);
		--spacing-4: calc(16 / var(--base-font-size) * 1em);
		--spacing-5: calc(20 / var(--base-font-size) * 1em);
		--spacing-6: calc(22 / var(--base-font-size) * 1em);

		/* Border radius */
		--radius-base: calc(4 / var(--base-font-size) * 1rem);

		/* Base styles */
		color: var(--color-white-900);
		font-size: var(--text-base);
		line-height: var(--line-height-ratio);

		&:focus-visible {
			outline: none;
		}

		/* Headings */
		h1 {
			font-size: calc(24 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(32 / 24);
			margin-top: calc(32 / 24 * 1em);
			margin-bottom: calc(16 / 24 * 1em);
		}
		h1:first-child {
			margin-top: 0;
		}

		h2 {
			font-size: calc(20 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(28 / 20);
			margin-top: calc(32 / 20 * 1em);
			margin-bottom: calc(16 / 20 * 1em);
		}

		h3 {
			font-size: calc(18 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(28 / 18);
			margin-top: calc(24 / 18 * 1em);
			margin-bottom: calc(12 / 18 * 1em);
		}

		h4 {
			font-size: calc(16 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(24 / 16);
			margin-top: calc(24 / 16 * 1em);
			margin-bottom: calc(12 / 16 * 1em);
		}

		h5 {
			font-size: calc(14 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(20 / 14);
			margin-top: calc(20 / 14 * 1em);
			margin-bottom: calc(12 / 14 * 1em);
		}

		h6 {
			font-size: calc(12 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(16 / 12);
			margin-top: calc(20 / 12 * 1em);
			margin-bottom: calc(12 / 12 * 1em);
		}

		a {
			text-decoration: underline;
		}

		/* Paragraph */
		p {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
		}
		p + p {
			margin-top: var(--spacing-4);
		}

		img {
			margin-block: var(--spacing-4);
		}

		/* Bold */
		strong {
			font-weight: 600;
		}

		/* Italic */
		em {
			font-style: italic;
		}

		/* Strike */
		del {
			text-decoration: line-through;
		}

		/* Lists */
		ul {
			list-style-type: disc;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		ol {
			list-style-type: decimal;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		li {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
			padding-left: var(--spacing-2);
		}
		li + li {
			margin-block: var(--spacing-4);
		}

		/* Inline code */
		code {
			font-style: italic;
		}

		/* Code block */
		pre {
			--pre-font-size: 12;
			--pre-line-height: calc(16 / var(--pre-font-size));
			background-color: var(--color-gray-900);
			overflow-x: hidden;
			text-wrap: wrap;
			color: var(--color-gray-100);
			font-weight: 400;
			font-size: var(--text-sm);
			font-family: var(--font-mono);
			line-height: var(--pre-line-height);
			margin-top: calc(20 / var(--pre-font-size) * 1em);
			margin-bottom: calc(20 / var(--pre-font-size) * 1em);
			border-radius: var(--radius-xs);
			padding-block: calc(24 / var(--pre-font-size) * 1em);
			padding-inline: calc(24 / var(--pre-font-size) * 1em);
		}

		pre code {
			background-color: transparent;
			border-width: 0;
			border-radius: 0;
			padding: 0;
			font-weight: inherit;
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			line-height: inherit;
		}

		table {
			width: 100%;
			font-size: var(--base-font-size);
			text-align: left;
			border-width: 1px;
			border-color: var(--color-gray-700);
			border-radius: var(--radius-xs);
			margin-block: var(--spacing-4);
		}

		th,
		td {
			padding-inline: var(--spacing-6);
			padding-block: var(--spacing-2);
			border-width: 1px;
			border-color: var(--color-gray-700);
		}
	}
}
